<div fxLayout="column" fxLayoutGap="5px">
  <fs-device-browser
    [type]="Fs2FaBrowser.Chrome"
    name="Chrome"
  ></fs-device-browser>

  <fs-device-browser
    [type]="Fs2FaBrowser.Android"
    name="Android"
  ></fs-device-browser>

  <fs-device-browser
    [type]="Fs2FaBrowser.Edge"
    name="Edge"
  ></fs-device-browser>

  <fs-device-browser
    [type]="Fs2FaBrowser.Falkon"
    name="Falkon"
  ></fs-device-browser>

  <fs-device-browser
    [type]="Fs2FaBrowser.Firefox"
    name="Firefox"
  ></fs-device-browser>

  <fs-device-browser
    [type]="Fs2FaBrowser.Ie"
    name="Ie"
  ></fs-device-browser>

  <fs-device-browser
    [type]="Fs2FaBrowser.Opera"
    name="Opera"
  ></fs-device-browser>

  <fs-device-browser
    [type]="Fs2FaBrowser.Safari"
    name="Safari"
  ></fs-device-browser>

  <fs-device-browser
    [type]="Fs2FaBrowser.Samsung"
    name="Samsung"
  ></fs-device-browser>

  <fs-device-browser
    [type]="Fs2FaBrowser.Vivaldi"
    name="Vivaldi"
  ></fs-device-browser>
</div>