<div fxLayout="column" fxLayoutGap="5px">
  <fs-device-browser
    [type]="DeviceBrowser.Chrome"
    name="Chrome"
  ></fs-device-browser>

  <fs-device-browser
    [type]="DeviceBrowser.Android"
    name="Android"
  ></fs-device-browser>

  <fs-device-browser
    [type]="DeviceBrowser.Edge"
    name="Edge"
  ></fs-device-browser>

  <fs-device-browser
    [type]="DeviceBrowser.Falkon"
    name="Falkon"
  ></fs-device-browser>

  <fs-device-browser
    [type]="DeviceBrowser.Firefox"
    name="Firefox"
  ></fs-device-browser>

  <fs-device-browser
    [type]="DeviceBrowser.Ie"
    name="Ie"
  ></fs-device-browser>

  <fs-device-browser
    [type]="DeviceBrowser.Opera"
    name="Opera"
  ></fs-device-browser>

  <fs-device-browser
    [type]="DeviceBrowser.Safari"
    name="Safari"
  ></fs-device-browser>

  <fs-device-browser
    [type]="DeviceBrowser.Samsung"
    name="Samsung"
  ></fs-device-browser>

  <fs-device-browser
    [type]="DeviceBrowser.Vivaldi"
    name="Vivaldi"
  ></fs-device-browser>
</div>