<table>
  <tr>
    <td>
      Content from String
    </td>
    <td>
      <fs-clipboard-button
        [content]="'Copy Content'">
      </fs-clipboard-button>
    </td>
  </tr>
  <tr>
    <td>
      Content from Function
    </td>
    <td>
      <fs-clipboard-button
        [content]="content">
      </fs-clipboard-button>
    </td>
  </tr> 
  <tr>
    <td>
      Content from Template Reference
    </td>
    <td>
      <div class="row">
        <fs-clipboard-button
          [content]="contentRef">
        </fs-clipboard-button>

        <div #contentRef class="content-ref">
          Suspendisse et nunc imperdiet, volutpat risus a, feugiat augue. Fusce commodo consequat mattis. Aliquam luctus arcu sit amet iaculis varius. Proin et risus placerat, facilisis tellus facilisis, consequat neque. Etiam quis iaculis dolor, vitae suscipit mauris. Curabitur risus justo, ultrices eu augue vel, ultricies imperdiet nibh. 
        </div>
      </div>
    </td>
  </tr>  
</table>
