<form fsForm [submit]="save">
  <fs-dialog>
    <h1 mat-dialog-title>Add Participants</h1>
    <div mat-dialog-content>
      <fs-autocomplete-chips
          [fetch]="accountsFetch"
          [(ngModel)]="accounts"
          [required]="true"
          placeholder="Accounts"
          chipImage="account.avatar.tiny"
          name="conversationParticipants">
        <ng-template fsAutocompleteObject let-account="object">
          {{account.name}}
        </ng-template>
      </fs-autocomplete-chips>   
    </div>
    <div mat-dialog-actions>
      <button
          mat-button
          type="submit"
          color="primary">
        Add
      </button>
      <button
          mat-button
          type="button"
          mat-dialog-close>
        Cancel
      </button>
    </div>
  </fs-dialog>
</form>
