<form fsForm [submit]="save">
  <fs-dialog>
    <h1 mat-dialog-title>Add Participants</h1>
    <div mat-dialog-content>
      <div class="content">
        <fs-autocomplete-chips
            [fetch]="accountsFetch"
            [(ngModel)]="accounts"
            [required]="true"
            label="Accounts"
            chipImage="avatar.tiny"
            name="conversationParticipants">
          <ng-template fsAutocompleteObject let-account="object">
            {{account.name}}
          </ng-template>
        </fs-autocomplete-chips>   
      </div>
    </div>
    <div mat-dialog-actions>
      <button
          mat-button
          type="submit"
          color="primary">
        Add
      </button>
      <button
          mat-button
          type="button"
          mat-dialog-close>
        Cancel
      </button>
    </div>
  </fs-dialog>
</form>
