:host ::ng-deep {

  .modified,
  .name {
    width: 1%;
    white-space: nowrap;
  }

  .preview-content {
    img {
      display: none;
    }
  }
}

.preview-content {
  position: relative;
  max-height: 100px;
  max-width: 100%;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left 60%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}