<fs-list [config]="config">
  <fs-list-column class="name">
    <ng-template fs-list-header>Name</ng-template>
    <ng-template fs-list-cell let-row="row">
      <a (click)="open(row)">{{row.name}}</a>
    </ng-template>
  </fs-list-column>
  <fs-list-column>
    <ng-template fs-list-header>Preview</ng-template>
    <ng-template fs-list-cell let-row="row">
      <div class="preview-container">
        <div class="preview-content">
          <div [innerHTML]="row.content"></div>
        </div>
      </div>
    </ng-template>
  </fs-list-column>
  <fs-list-column class="modified">
    <ng-template fs-list-header>Modified</ng-template>
    <ng-template fs-list-cell let-row="row">
      <fs-date-ago [date]="row.modifiedDate"></fs-date-ago>
    </ng-template>
  </fs-list-column>
</fs-list>
