
<form fsForm [submit]="save">
  <fs-dialog>
    <div mat-dialog-title>Content Widget</div>
    <mat-dialog-content>
      <mat-form-field>
        <input 
          matInput 
          placeholder="Name" 
          [(ngModel)]="contentWidget.name" 
          name="name" 
          [required]="true">
      </mat-form-field>

      <fs-html-editor
        [(ngModel)]="contentWidget.content"
        [config]="htmlEditorConfig"
        name="content">
      </fs-html-editor>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button 
          mat-button 
          color="primary">
        Save
      </button>
      <button 
          mat-button 
          [mat-dialog-close]="null" 
          type="button">
        Cancel
      </button>
    </mat-dialog-actions>
  </fs-dialog>
</form>
